@page
@model ResaTicket.Pages.FilmsLangues.DetailsModel


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film_Langue</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film_Langue.LFilm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film_Langue.LFilm.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Film_Langue.LLangue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Film_Langue.LLangue.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Film_Langue.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
