@page
@model ResaTicket.Pages.Cinemas.DetailsModel


@{
    ViewData["Title"] = "Details";
}

<style>
    /* CSS pour le style souhaité */
    .container-form {
        font-family: Verdana;
        font-weight: bold;
        color: black;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .form-container {
        border: 2px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        background-color: #f9f9f9;
    }

    .form-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .label {
        flex-basis: 25%;
        text-align: right;
        padding-right: 10px;
    }

    .input {
        flex-basis: 70%;
    }

    .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .button {
        margin-right: 20px;
    }
</style>
<div class="container-form">
    <h1 style="text-align:center;">Details du Cinéma</h1>
    <div class="form-container">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cinema.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cinema.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cinema.Num_rue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cinema.Num_rue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cinema.Rue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cinema.Rue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cinema.Comp_Adresse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cinema.Comp_Adresse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cinema.Code_Postal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cinema.Code_Postal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cinema.Ville)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cinema.Ville)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cinema.SIRET)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cinema.SIRET)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cinema.RIB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cinema.RIB)
        </dd>  
    </dl>
    <div style="text-align:center;">
       <a asp-page="./Edit" asp-route-id="@Model.Cinema.ID" class="button btn btn-secondary" style="background-color: #D8B602;">Edit</a>
    </div>
</div>
</div>

